@charset "UTF-8";


.headerarea {
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    background-color: #fff;
    text-decoration: none;
}

.logobox{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 40px;

}

.logobox a:hover{
    text-decoration: none;

}

/* 로그인, 회원가입 버튼 */
div.menuitem_member {
    position: absolute;
    padding: 17px 10px 0 10px;
    height: 60px;
    width: 300px;
    right: 100px;
}

span.membermenu {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0px 0px 20px;
}

span.membermenu_color {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu_color:hover  {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


span.signupmenu {
    padding: 5px 25px 5px 25px;
    color:#fff;
    background-color: #ff4b4e;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu:hover {
    text-shadow: 1px 1px 5px black;
}

.bt1{
    width: 100px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;

}


.bt1 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.bt1:hover{
    background-image: linear-gradient(to right, white,skyblue,blue,darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#logos{
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin-left: 200px;
    text-decoration: none;
    color: #3f86ed;
}

#logos:hover{
    background-image: linear-gradient(to left, white,skyblue,#b3d7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#rowfor{
    text-align: left;
}


#headerfor{
    margin-left: -50px;
    padding-top: 40px;


}

@keyframes slide{

    from{
        left: -200px;
    }

    to{
        left: 200px;
    }

}
#h1for{
    font-family: abster;
    margin: auto;
    text-decoration: none;
}