@font-face {
    font-family: abster;
    src: url('abster-webfont.woff') format('woff');
}

.qnaTitle{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    padding-bottom: 0px;
    font-family: abster;
}

.container{
    width: 100%;
}

tton.firstBtn:focus{
    border: none;
    outline:none;
}


button:focus {
    outline: none;
}

#page-button-tm {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: white;
    outline-color: white;
}
#page-button-tm2{
    color: black;
    outline-color: white;
    border: 1px solid black;
}

#page-button-tm3{
    color: black;
    outline-color: white;
    border: 1px solid black;
}

#page-button-tm4{
    color: black;
    outline-color: white;
    border: 1px solid black;
}
#page-button-tm5{
    color: black;
    border: 1px solid black;
    outline-color: white;
}
#page-button-tm6{
    color: black;
    border: 1px solid black;
    background-color: white;
    border-color:black;
    outline-color: white;
    outline: 0;
}
#page-button-tm7{
    color: black;
    border: 1px solid black;
    outline-color: white;
}

#page-button-tm8 {
    color: black;
    border: 1px solid black;
    outline-color: white;
}

.subject-tm{
    text-decoration: none;
    color: black;
}

.totalList{
    font-size: 15px;
    text-align: right;
    margin-bottom: 0;
    color: grey;

}

.askBoxAll{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}
.myAsk{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
}

.askBox{
    margin-top: 70px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.qnaList{
    text-align: center;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.







button:focus {
    outline: none;
}


li > a.page-link {
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 50px;
}

ul.pagination {
    justify-content: center;
}

table > td > a {
    text-decoration: none;
}


#test_obj {
    position: fixed;
    width: 70px;
    height: 210px;
    right: 50px;
    border-radius: 70px;
    top: 550px;
    border: 1px solid;
    border-color: grey;
}

button:focus {
    outline: none;
}


li > a.page-link {
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 50px;
}

ul.pagination {
    justify-content: center;
}

table > td > a {
    text-decoration: none;
}



.cuz {
    width: 50px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.snd_menu {
    background: #efefef;
}

.sub_menu {
    display: none;
}


#main_menu {
    position: fixed;
    width: 70px;
    height: 210px;
    right: 60px;
    border-radius: 70px;
    top: 35%;
    text-align: center;

}

#writecolor{
    color: black;
    border: 1px solid black;
    text-align: center;
    display: block;
    margin: auto;
}